.site-footer {
    padding: 80px 0;
}

.site-footer .icon {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #1898FC;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 42px;
}

.site-footer .icon:hover{
    animation: rotate 0.5s ease-in-out 0.3s;
}

@keyframes rotate {
    0% {
      transform: rotateY(360deg);
    }
    100% {
      transform: rotateY(0rem);
    }
}

/* .site-footer .icon  svg {
    top;
} */