.novel {
    overflow: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.novel .novel_thumb {
    height: 270px;
    position: relative;
}

.novel .novel_thumb img {
    width: 100%;
    height: 100%;
}

.novel .novel_thumb .hot_box {
    background: #cb7a59 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    left: 0;
    line-height: 15px;
    padding: 4px 8px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    z-index: 3;
}

.novel .novel_content {
    width: 100%;
    display: inline-block;
}

.novel .novel_content h6 a{
    color: #3a3939 !important;
    font-size: 14px;
    font-weight: bold;
    line-height: 23px;
    transition: all 0.4s ease 0s;
}

.novel .novel_content .rating {
    color: #e6d2a9;
}

.novel .novel_content .rating .on {
    color: burlywood;
}